#title {
  font-size: 28px;
  font-family: 'Quicksand', sans-serif;
  color: #91a5ae;
}

#copyright {
  margin-top: 90%;
  margin-left: 2%;
}

.jumbotron {
  background: #e07bc6;
  background-image: url("http://www.successacademies.org/site/themes/success-academy/assets/img/icon_twitter.png");
  background-size: cover;
  color: white;
}
